poc-node-node-red/node-red-data/flows.json
[{"id":"7d29a0d1.88f43","type":"tab","label":"LGPD-v2","disabled":false,"info":""},{"id":"fecfc47.caf8b38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"65b579bc.338878","type":"mongodb","z":"","hostname":"192.168.100.34","port":"27017","db":"lgpd-person","name":""},{"id":"87aeb1b6.e22e8","type":"ui_group","z":"","name":"Clima","tab":"242cc3f4.7f1bdc","order":1,"disp":true,"width":"6","collapse":false},{"id":"242cc3f4.7f1bdc","type":"ui_tab","z":"","name":"Previsao","icon":"dashboard"},{"id":"26fb2176.0a2e7e","type":"mqtt-broker","z":"","name":"host","broker":"192.168.15.102","port":"1883","clientid":"node-red-01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"200e7cf.2f5e484","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"181ce43e.03130c","type":"JsonWebToken_config","z":"","name":"token","secret":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiam9obiIsImlhdCI6MTQ4MDcyNTg2NH0.Rz-0Smq_ulmriXLVO9weN_CnO4CnwPh35ktAbmAdhZg  "},{"id":"50f1eb39.f8f7f4","type":"kafka-broker","z":"7d29a0d1.88f43","broker":"192.168.100.34:9092","clientid":""},{"id":"317e9d1d.710a12","type":"MSSQL-CN","z":"","name":"localhost","server":"192.168.100.34","encyption":true,"database":"master"},{"id":"e2030db7.00fe1","type":"mongodb in","z":"7d29a0d1.88f43","mongodb":"65b579bc.338878","name":"","collection":"person","operation":"find","x":390,"y":60,"wires":[["35c4cf0d.c6e81","c0c4aa1a.383068","59f93259.8215bc"]]},{"id":"35c4cf0d.c6e81","type":"http response","z":"7d29a0d1.88f43","name":"ok","statusCode":"200","headers":{},"x":650,"y":20,"wires":[]},{"id":"6927b37e.570c9c","type":"http in","z":"7d29a0d1.88f43","name":"","url":"/lgpd/person","method":"post","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["53fe9425.6d81cc","7e6ba64f.f90948"]]},{"id":"12646e9d.fc1491","type":"mongodb out","z":"7d29a0d1.88f43","mongodb":"65b579bc.338878","name":"","collection":"person","payonly":true,"upsert":false,"multi":false,"operation":"store","x":650,"y":360,"wires":[]},{"id":"53fe9425.6d81cc","type":"json","z":"7d29a0d1.88f43","name":"","property":"payload","action":"str","pretty":true,"x":170,"y":400,"wires":[["ca80e3ef.e5e7b"]]},{"id":"14ffe03.9590c2","type":"debug","z":"7d29a0d1.88f43","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":540,"wires":[]},{"id":"f014d345.5b0ba","type":"http response","z":"7d29a0d1.88f43","name":"","statusCode":"200","headers":{},"x":640,"y":440,"wires":[]},{"id":"cd4c1a78.615338","type":"function","z":"7d29a0d1.88f43","name":"Response","func":"msg.payload = {\"date\":new Date(),\"success\":true}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["f014d345.5b0ba","14ffe03.9590c2"]]},{"id":"ca80e3ef.e5e7b","type":"function","z":"7d29a0d1.88f43","name":"payload","func":"msg.payload = msg.req.body;  \nreturn msg;  ","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["12646e9d.fc1491","cd4c1a78.615338"]]},{"id":"ebeeef40.ce59c","type":"debug","z":"7d29a0d1.88f43","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":560,"wires":[]},{"id":"7e6ba64f.f90948","type":"debug","z":"7d29a0d1.88f43","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":280,"wires":[]},{"id":"81330d0e.7ebb8","type":"rdkafka in","z":"7d29a0d1.88f43","name":"","topic":"lgpd-person-input","cgroup":"lgpd-person","autocommit":true,"broker":"50f1eb39.f8f7f4","x":130,"y":500,"wires":[["ebeeef40.ce59c","f5a09dec.ed5fc"]]},{"id":"b23edfb2.13d27","type":"rdkafka out","z":"7d29a0d1.88f43","name":"","topic":"lgpd-person-input","key":"","partition":"-1","broker":"50f1eb39.f8f7f4","x":570,"y":280,"wires":[]},{"id":"34c9c5f9.c4acea","type":"MSSQL","z":"7d29a0d1.88f43","mssqlCN":"317e9d1d.710a12","name":"person","query":"select * from dbo.Person","outField":"payload","x":190,"y":240,"wires":[["b404dcd4.5351e","a173f157.8f544"]]},{"id":"59f93259.8215bc","type":"debug","z":"7d29a0d1.88f43","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":160,"wires":[]},{"id":"b404dcd4.5351e","type":"json","z":"7d29a0d1.88f43","name":"","property":"payload","action":"str","pretty":true,"x":370,"y":220,"wires":[["59f93259.8215bc","b23edfb2.13d27","12646e9d.fc1491"]]},{"id":"bf17c62d.0f2368","type":"inject","z":"7d29a0d1.88f43","name":"todos os dias","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["34c9c5f9.c4acea"]]},{"id":"51b9cd2a.8c1a04","type":"http in","z":"7d29a0d1.88f43","name":"","url":"/lgpd/person","method":"get","upload":false,"swaggerDoc":"","x":110,"y":40,"wires":[["e2030db7.00fe1"]]},{"id":"f5a09dec.ed5fc","type":"json","z":"7d29a0d1.88f43","name":"","property":"payload","action":"str","pretty":true,"x":330,"y":480,"wires":[["12646e9d.fc1491"]]},{"id":"c0c4aa1a.383068","type":"template","z":"7d29a0d1.88f43","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Email com dados pessoais: {{msg.description}} !\n\nComprimento do Art. 000 da LGPD","output":"str","x":500,"y":140,"wires":[["fe146c19.32b58"]]},{"id":"f973f77a.7de128","type":"inject","z":"7d29a0d1.88f43","name":"todos os dias","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["e2030db7.00fe1"]]},{"id":"fe146c19.32b58","type":"sendgrid","z":"7d29a0d1.88f43","from":"fontestz@gmail.com","multiple":false,"to":"fontestz@gmail.com","name":"","content":"html","templateId":"d-f67a24f993034776b2059f278d7aa5cd","templateData":"","x":740,"y":120,"wires":[]},{"id":"1fe19162.ba1d3f","type":"template","z":"7d29a0d1.88f43","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n \"from\": \"fontestz@gmail.com\",\n \"to\": \"fontestz@gmail.com\",\n \"topic\": \"Sending with SendGrid\",\n \"text\": \"text here\"\n}\n","output":"json","x":720,"y":60,"wires":[[]]},{"id":"8f513d6e.547d4","type":"csv","z":"7d29a0d1.88f43","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"id,FirstName,LastName,Phone,StoreId,CreateAt","skip":"0","x":570,"y":220,"wires":[["d2fd17e6.3c9b88"]]},{"id":"a173f157.8f544","type":"json","z":"7d29a0d1.88f43","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":160,"wires":[["8f513d6e.547d4"]]},{"id":"7d417ace.c45df4","type":"debug","z":"7d29a0d1.88f43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":200,"wires":[]},{"id":"d2fd17e6.3c9b88","type":"file","z":"7d29a0d1.88f43","name":"lgpd.csv","filename":"/tmp/csv/lgpd.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":700,"y":240,"wires":[["7d417ace.c45df4"]]}]